<mat-card class="search-box">
    <div class="input-field">
        <mat-icon color="primary">search</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Buscar Clientes" [(ngModel)]="search" name="search">
        </mat-form-field>
      </div>
</mat-card>
<br/>
<button mat-mini-fab color="primary" (click)="addClient()" class="addbtn">
  <i class="material-icons">add</i>
</button>
<div class="clients">
  <div class="clients-card" *ngFor="let client of clients | filter: search">
    <mat-card>
      <mat-card-header>
          <button mat-icon-button class="btnMenu" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit(client)">
                <mat-icon>mode_edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="remove(client)">
                <mat-icon>remove</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
        <mat-card-title>
          <span *ngIf="client.companyName">{{client.companyName}}</span>
          <span *ngIf="!client.companyName">{{client.fullname}}</span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="client.companyName">
          <ul>
            <li>Representante: {{client.fullname}}</li>
          </ul>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngIf="client.phone">
            <i class="material-icons">phone</i> Tel&eacute;fono: {{ client.phone }}</li>
          <li *ngIf="client.email">
            <i class="material-icons">email</i> Correo: {{ client.email }}</li>
          <li *ngIf="client.location">
            <i class="material-icons">location_on</i>Ubicar: {{ client.location }}</li>
        </ul>
      </mat-card-content>
      <mat-card-footer>
        <div class="button-row">
          <button mat-ink-ripple="false" mat-icon-button *ngIf="client.phone" (click)="call(client.phone)" color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">call</mat-icon>
          </button>
          <button mat-icon-button *ngIf="client.email" (click)="email(client.email)" color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">mail_outline</mat-icon>
          </button>
          <button mat-icon-button *ngIf="client.location" (click)="map(client.location)" color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">location_on</mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
    <br/>
  </div>
</div>
