<div class="login">
  <img src="./../../assets/landscape.svg" alt="">
  <div class="login-container">
    <div class="login-form">
      <form #loginForm>
        <mat-form-field>
          <input required autocomplete="off" matInput placeholder="Correo Electr&oacute;nico" [(ngModel)]="email" name="email" type="email" class="example-right-align">
        </mat-form-field>
        <mat-form-field>
          <input required autocomplete="off" matInput placeholder="Contrase&ntilde;a" type="password" [(ngModel)]="password" name="password" class="example-right-align">
        </mat-form-field>
        <div class="action-buttons">
          <button mat-raised-button color="primary" (click)="login()" [disabled]="loggingin">
              <span *ngIf="!loggingin">Entrar</span>
              <span *ngIf="loggingin">Espere por favor..</span>
          </button>
          <button mat-button color="primary" (click)="navigateToRegister()">No tienes cuenta? registrate</button>
        </div>
        <div class="error-logs"><p>{{error}}</p></div>
      </form>
    </div>
  </div>
</div>
