<mat-sidenav-container class="example-container"  (swipeleft)="sidenav.close()">
  <mat-sidenav class="sidenav" #sidenav [mode]="'Push'">
    <div class="menu-top">
      <div class="avatar">
        <div class="avatar-bg"></div>
      </div>
    </div>
    <div class="menu-bottom">
      <ul>
        <a (click)="sidenav.close()" routerLink="/dashboard/claims/list"><li> <i class="material-icons">assignment</i> Reclamos</li></a>
        <a (click)="sidenav.close()"><li> <i class="material-icons">subject</i> Informes </li></a>
        <a (click)="sidenav.close()"><li> <i class="material-icons">today</i> Planificador d&iacute;ario</li></a>
        <a (click)="sidenav.close()"><li> <i class="material-icons">person_pin</i> Mi Cuenta</li></a>
        <a (click)="sidenav.close()"><li> <i class="material-icons">sync</i> Sincronizar</li></a>
        <a (click)="sidenav.close()" routerLink="/dashboard/clients/list"><li> <i class="material-icons">supervisor_account</i> Clientes</li></a>
        <a (click)="sidenav.close()"><li> <i class="material-icons">spa</i> partidas</li></a>
        <a (click)="sidenav.close()"><li> <i class="material-icons">photo_library</i> Galer&iacute;a</li></a>
        <a (click)="sidenav.close()" routerLink="/dashboard/currency"><li> <i class="material-icons">money</i> Divisas</li></a>
        <a (click)="sidenav.close(); logOut();"><li> <i class="material-icons">keyboard_arrow_left</i> Salir</li></a>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content (swipe)="openSidebar('right')">
    <div class="navbar">
      <i (click)="toggleSidenav()" class="material-icons">menu</i>
    </div>
    <router-outlet></router-outlet>
    <app-status-bar></app-status-bar>
  </mat-sidenav-content>
</mat-sidenav-container>
